

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}


/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height: 30rem !important;
    width:50%;
    border-radius: 16px;
    margin-bottom: 5rem;
}
/*===================UBICACION==========================*/

.mapafolio{
    align-items: center;
}







